[%- MACRO Content BLOCK -%]
[%-   INCLUDE $letter.template %]
[%- END -%]
[%- UNLESS letter.defined('format') -%]
[%-   letter.format = "pdf" -%]
[%- END -%]
[% USE Latex -%]
[% IF letter.format == "tex" -%]
[%   Content() %]
[% ELSE %]
[%   FILTER latex(format="${letter.format}") -%]
[%     Content() %]
[%   END -%]
[% END -%]
